SECRET_KEY = '---'

DB = 'SQLITE'
DB_NAME = 'db.sqlite3'
DB_HOST = ''
DB_USER = ''
DB_PASSWORD = ''
DB_PORT = '3306'

EMAIL = 'LOCAL'
EMAIL_HOST_USER = 'apikey'
EMAIL_HOST_PASSWORD = ''
FROM = ''
#FORCED_INVOICE_EMAIL = 'youremail@email.com'

AWS_ACCESS_KEY_ID = ''
AWS_SECRET_ACCESS_KEY = ''
AWS_STORAGE_BUCKET_NAME = ''
HEROKU = 'False'

