<div class="columns">
    <div class="column is-one-third">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                <span class="select is-fullwidth">
                  <select>
                    <option selected>Open</option>
                    <option>Complete</option>
                    <option>Waiting</option>
                    <option>Hold</option>
                    <option>Cancelled</option>
                    <option>New</option>
                  </select>
                    </span>
                <span class="icon is-small is-left">
                        <i class="fas fa-filter"></i>
                    </span>
            </p>
        </div>
    </div>
    <div class="column is-one-third">
        <div class="field">
            <p class="control is-expanded has-icons-left">
                <span class="select is-fullwidth">
                  <select>
                    <option selected>Newest</option>
                    <option>Oldest</option>
                    <option>Level</option>
                    <option>Age</option>
                  </select>
                    </span>
                <span class="icon is-small is-left">
                        <i class="fas fa-caret-down"></i>
                    </span>
            </p>
        </div>
    </div>
    <div class="column is-one-third">
        <div class="field has-addons">
            <div class="control is-expanded">
                <input class="input " type="text" placeholder="Find a ticket">
            </div>
            <div class="control">
                <a class="button is-info">
                    Search
                </a>
            </div>
        </div>
    </div>
</div>

