{% load techtags %}
<div id="job_{{ job.id }}" class="jobcard card block status_{{ job.status.lower }} level_{{ job.level.lower }}">
    <header class="card-header has-background-link has-text-white">
        <div class="column">
            <p class="card-header-title has-text-white">
                {{ job.customer.name }} ({{ job.customer.username }})
            </p>
        </div>
        <div class="column has-text-right">
            <p class="has-text-right" title="{{ job.created_at }}">Submitted {% jobage job.created_at %}</p>
        </div>
    </header>
    <div class="card-content">
        <div class="statusflag" data-jobid="{{ job.id }}" data-value="{{ job.status }}">
            {{ job.get_status_display }}
        </div>
        <div class="content">
            {% appt job.appointment %}
        </div>
        <div class="content">
            {{ job.description }}
            <div class="box">
                <div class="columns">
                    <div class="column has-text-centered">
                        <button class="button is-info is-fullwidth" data-show="quickview" data-target="quickviewParts"
                                data-type="parts" data-jobid="{{ job.id }}">
                        <span class="icon">
                        <i class="fas fa-laptop-medical"></i>
                            </span>
                            <span>
                        Parts
                        </span>
                        </button>
                    </div>
                    <div class="column has-text-centered">
                        <button class="button is-primary is-fullwidth" data-show="quickview" data-target="quickviewTime"
                                data-type='times' data-jobid="{{ job.id }}">
                            <span class="icon">
                        <i class="fas fa-stopwatch"></i>
                            </span>
                            <span>
                        View Time
                            </span>
                        </button>
                    </div>
                    <div class="column has-text-centered">
                        {% jobtimebutton job %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="card-footer">
        <div class="card-footer-item levelflag" data-jobid="{{ job.id }}" data-value="{{ job.level }}">
            {{ job.get_level_display }}
        </div>
        <div class="card-footer-item jobcost">
            ${{ job.totalCost|floatformat:2 }}
        </div>
        <div class="card-footer-item">
            Assigned to: {{ job.technician.user.name }}
        </div>
    </footer>
</div>
