<div class="card block">
    <header class="card-header has-background-link has-text-white">
        <div class="column">
            <p class="card-header-title has-text-white">
                Imma Customer
            </p>
        </div>
        <div class="column has-text-right">
            <p class="has-text-right" title="Submited 1/1/2002">XXX days old</p>
        </div>
    </header>
    <div class="card-content">
        <div class="content">
            <div class="tag is-primary is-light is-large">
                <span class="icon">
                    <i class="fas fa-calendar"></i>
                </span>
                <span>
                    <span class="is-hidden-mobile">
                        Appointment:
                    </span>
                    10/27/33 @ 3:15pm
                    <span class="is-hidden-mobile">
                        (in xxx minutes)
                    </span>
                </span>
            </div>
        </div>
        <div class="content">
            Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi porta gravida
            at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Cras mattis consectetur purus sit amet fermentum.
            <div class="columns box">
                <div class="column has-text-centered">
                    <button class="button is-info">
                        <span class="icon">
                        <i class="fas fa-laptop-medical"></i>
                            </span>
                        <span>
                        Parts
                        </span>
                    </button>
                </div>
                <div class="column column has-text-centered">
                    <button class="button is-primary">
                            <span class="icon">
                        <i class="fas fa-stopwatch"></i>
                            </span>
                        <span>
                        View Time
                            </span>
                    </button>
                </div>
                <div class="column">
                    <button class="button is-success">
                        <span class="icon">
                    <i class="fas fa-stopwatch"></i>
                </span>
                        <span>
                        Start Time
                            </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <footer class="card-footer">
        <div class="card-footer-item">
            <span class="tag is-danger">High</span>
            <span class="tag is-warning">Medium</span>
            <span class="tag is-primary">Normal</span>
        </div>
        <div class="card-footer-item">
            Billable:
            $125.00
        </div>
        <div class="card-footer-item">
            Assigned to: Johnny Tech
        </div>
    </footer>
</div>
