<div class="box" id="jobpart_{{ jobpart.id }}">
    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                {% if part.image %}
                    <img class="is-rounded" src="{{ part.image.url }}">
                {% endif %}
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{ part.name }}</strong>
                    <br>
                    ${{ jobpart.cost|floatformat:2 }}
                <div class="partstatusflag" data-jobid="{{ jobpart.job.id }}" data-jobpartid="{{ jobpart.id }}" data-value="{{ jobpart.status }}">
                    <strong>Status:</strong>
                    {% if part.status %}
                        {{ jobpart.get_status_display }}
                    {% else %}
                        Not Set
                    {% endif %}
                </div>

                </p>
            </div>
        </div>
    {% if user.is_tech %}
        <div class="media-right">
            <button class="delete partremove" data-jobpartid={{ jobpart.id }} data-partid="{{ part.id }}"
                    data-jobid="{{ jobpart.job.id }}"></button>
        </div>
    {% endif %}
    </article>
</div>