<div id="quickviewParts" class="quickview">
  <header class="quickview-header has-background-info">
    <p class="title is-size-3 has-text-white">Parts</p>
    <span class="delete" data-dismiss="quickview"></span>
  </header>

  <div class="quickview-body">
    <div class="quickview-block">

    </div>
  </div>

  <footer class="quickview-footer">

  </footer>
</div>

<div id="quickviewTime" class="quickview">
  <header class="quickview-header has-background-primary">
    <p class="title is-size-3 has-text-white">Time Log</p>
    <span class="delete" data-dismiss="quickview"></span>
  </header>

  <div class="quickview-body">
    <div class="quickview-block">

    </div>
  </div>

  <footer class="quickview-footer">

  </footer>
</div>